# Ignore Mac specific files
.DS_Store

# Ignore settings file
settings.json
.env
connect_env

# Ignore Pycharm .idea* files
.idea*

# Ignore __pycache__* files
__pycache__*
lib/__pycache__*
lib/api/__pycache__*
lib/models/__pycache__*
tests/__pycache__*

# Ignore .pytest_cache* files
.pytest_cache*
tests/.pytest_cache*

# Ignore dynaconf secret files
.secrets.*

# Ignore python local version set by pyenv
.python-version

# Ignore images
*.png
*.jpg
